<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scratch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.scratch.gui.TaskListActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
            <!-- android:icon="@drawable/app_icon" --> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.scratch.gui.EditTaskActivity"
            android:theme="@style/ScratchNoTitleBar" />
        <activity 
            android:name="com.scratch.gui.NewTaskActivity"
            android:theme="@style/ScratchNoTitleBar"/>
        <activity 
            android:name="com.scratch.gui.MakeRecurringTaskActivity"
            android:theme="@style/ScratchNoTitleBar" />
        
        <activity 
            android:name="com.scratch.gui.MakeDailyRecurringTaskActivity"
            android:theme="@style/ScratchNoTitleBar" />
        
        <activity 
            android:name="com.scratch.gui.MakeWeeklyRecurringTaskActivity"
            android:theme="@style/ScratchNoTitleBar" />
        
        <activity 
            android:name="com.scratch.gui.MakeMonthlyRecurringTaskActivity"
            android:theme="@style/ScratchNoTitleBar" />
        
        <activity 
            android:name="com.scratch.gui.MakeYearlyRecurringTaskActivity"
            android:theme="@style/ScratchNoTitleBar" />

        <service android:name="com.scratch.scheduler.TaskSchedulingService" />

        <receiver android:name="com.scratch.scheduler.TaskBroadcastReceiver">
            <intent-filter>
                <action android:name="com.scratch.SET_TASK_COMPLETE"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.scratch.scheduler.TaskSchedulingRestarter">
            <intent-filter>
                <action android:name="com.scratch.RESTART_TASK_SCHEDULING_SERVICE"/>
            </intent-filter>
        </receiver>

        <provider android:name="com.scratch.data.storage.DbStorage"
            android:authorities="com.scratch.provider"
            android:enabled="true"
            android:multiprocess="true" />
    </application>

</manifest>